fastapi
uvicorn
python-dotenv
starlette
openai>=1.0.0
aiohttp
mcp>=1.0.0
websockets>=14.0
fastembed
qdrant-client==1.9.1
python-multipart
pypdf
python-docx
supabase
httpx>=0.24.0
# sentence-transformers
# torch
# transformers
numpy
# light-embed
fastembed


